<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <tr>
      <th>Product Count</th>
      <th>Category Count</th>
    </tr>
    <tr>
      <td>
        <% @prod_stats %>
      </td>
      <td>
        <% @cat_stats %>
      </td>
    </tr>
  </table>
</div>
